/* Basic Style */

.page {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__more-info-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.new-task {
  margin-top: 16px;
  margin-bottom: 16px;
}

.new-task__wrapper {
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

input,
button {
  outline: none;
}

.btn {
  width: 60px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888;
  cursor: pointer;
  background: none;
  border: 0;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */

.section-title {
  padding: 30px 0 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

.task-editor {
  box-sizing: border-box;
  flex-grow: 1;
  width: 226px;
  height: 21px;
  padding: 0 9px;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.task-editor:focus {
  color: #333;
}

/* New Task */

.new-task__title {
  margin-bottom: 20px;
}

.new-task__editor {
  width: 318px;
}

.new-task__btn-add:hover {
  color: #0fc57c;
}

/* Task list */

.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.task-checkbox {
  margin: 0 10px;
}

.task-label {
  box-sizing: border-box;
  flex-grow: 1;
  width: 226px;
  padding-left: 10px;
  font-size: 18px;
}

.delete-icon {
  height: 2em;
  transition: transform 200ms ease-in;
  transform: rotateZ(45deg);
}

.delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */

.completed-tasks__list .task-label {
  color: #888;
  text-decoration: line-through;
}

/* Edit Task */

.task-list-item .task-editor {
  display: none;
}

.edit-mode .task-editor {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-label {
  display: none;
}
